.nav-bar-container{
    overflow: hidden;
    padding: 5px;
    margin: 10px;
    margin-left: 60px;
}

.nav-bar-logo{
    float: left;
}

.paytm-logo{
    width: 175px;
}

.nav-bar-sections{
    float: left;
    padding: 20px 50px;
    font-size: 17px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
}

.sections{
    width: 25px;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-bar-user-btn{
    margin: 15px;
}

.user-btn{
    border-radius: 40px;
    background-color: #00b9f1;
    border: none;
    width: 100px;
    height: 35px;
    padding: 10px;
    color: white;
    font-weight: bolder;
}

.text-container{
    text-align: center;
    background-color: whitesmoke;
    padding: 5px;
    margin: 0%;
}

.text-middle{
    font-size: 13px;
}

.container-1{
    display: flex;
    margin-left: 50px;  
}

.sub-container-1{
    width: 600px;
}

.icon{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.bold-text{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;  
}

.text{
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;  
}

.store-icon-btn{
    border-radius: 50px;
    background-color: white;
    padding: 8px;
    border: none;
    background-color: black;
    color: white;
    width: 260px;
    height: 50px;
    font-size: 17px;  
}

.store-icon{
    width: 15px;
    border: none;
    background-color: none;  
}

.img-container{
    display: flex;
    justify-content: right;
    width: 850px;  
}

.img{
    width: 520px;
}

.container-2{
    padding: 20px;
    background-color:  #00B9F1 ;
}

.bg{
    background-color:#002E6E;  

}

.head-1{
    font-size: 40px;
    padding: 10px;
    margin-left: 70px;
    color: white;  
}

.cards{
    display: inline-block;
    padding-left: 50px;
    margin: 20px;
    color: white;
    font-size: 20px;  
}

.cards-icon{
    width: 70px;
}

.sub-container-14{
    display: flex;
    padding: 10px;
}
.head-container-14{
    padding-left: 90px;
    font-size: 50px;
}
.img-container-14{
    padding-left: 80px;
}
.text-container-14{
    padding-left: 100px;
    font-size: 22px;
}
.color{
    background-color: #002E6E;
    width: 160px;
}

.footer{
    display: flex;
    padding-left: 35px;
    background-color: #ffffff;
    height: 100px;
    padding-top: 75px;
}

.text-footer{
    margin: 0%;
    font-size: 25px;
    font-weight: bold;
}

.footer-img{
padding-left: 25px;
}

.footer-icon{
    padding: 12px;
}

.footer-img-container{
    padding-left: 500px;
}

.tilte-text{

    font-size: 25px;
}
.text-para{
    font-size: 20px;
    font-weight: 300;
}

.link{
    text-decoration: none;
    color: #00B9F1;
}

.container-15{
    display: flex;
}


.container-15-cards{
    display: flex;
}

.row{
    display: flex;
    direction: row;
    padding: 15px;
}

.card{
    background-color: #00b9f1;
    border: none;
    border-radius: 10px;
    height: 250px;
    width: 160px;
}

.image-card{
    width: 150px;
    padding: 5px;
}

.card-text{
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 17px;
}

.icon-card{
    width: 80px;
    padding: 10px;
}

.container-15{
    padding-left: 150px;
}